[submodule "myCode/docker-react"]
	path = myCode/docker-react
	url = git@github.com:achliopa/docker-react
[submodule "myCode/complex"]
	path = myCode/complex
	url = git@github.com:achliopa/multi-docker
