[submodule "myCode/docker-react"]
	path = myCode/docker-react
	url = git@github.com:achliopa/docker-react
[submodule "myCode/complex"]
	path = myCode/complex
	url = git@github.com:achliopa/multi-docker
[submodule "myCode/complexk8s"]
	path = myCode/complexk8s
	url = git@github.com:achliopa/multi-k8s.git
